.flex-container {
    height: 100vh; /* takes up entire height of screen (viewport height/width) */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(29, 28, 28, 0.7));
}

.title {
    color: white; 
    font-weight: bold; 
    font-size: 90px; 
    margin: 20px 10px 10px 10px; 
    font-family: sans-serif;
    color: transparent;
    background-image: url(https://media1.giphy.com/media/3osxYgD4kfm3mGM0Ra/200w.webp?cid=ecf05e470ct98cfl5s81exws9uv592749s443oyq95j8oe0r&rid=200w.webp&ct=g);
    background-position: center;
    -webkit-background-clip: text;
}

.board {
    width: 80%;
    height: 80%;
    display: grid;
    background-color: white;
    box-shadow: 0 0 16px rgb(255, 255, 255); /* more info on box-shadows https://css-tricks.com/almanac/properties/b/box-shadow/ */
}

.board:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    min-width: 350px;
    max-width: 700px;
    max-height: 700px;
    width: 80vw;
    height: 80vh;
}

.title {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 0.3em 1.2em;
    margin: 19px 10px 10px 0; /* goes from top, R, bottom, L */
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.09);
}

.blackBtn {
    background-color: black;
    color: white;
}

.blackBtn:hover {
    background-color: white;
    color: black;
}

.grayBtn {
    background-color: gray;
    color: rgb(255, 255, 255);
}

.grayBtn:hover {
    background-color: rgb(95, 95, 95);
    color: white;
}

.randomBtn {
    background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}

.randomBtn:hover {
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}

.eraserBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.eraserBtn:hover {
    background-color: white;
    color: rgb(248, 151, 191);
}

.resetBtn {
    background-color: rgb(225, 179, 179);
}

.resetBtn:hover {
    color: white;
}

.moving {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; /* use z-index to place img behind text */
}

.moving .moving-bg {
    
    padding-bottom: 300px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./images/rain.jpg);
    background-size: cover;
    animation: moving 15s linear infinite;
}

/* allows for movement of background img */
@keyframes moving {
    from{
        transform: translateY(0)
    } to {
        transform: translateY(-300px)
    }
}
